
    <div class="container">
      <div class="row">
          <div class="col-lg-10 offset-lg-1 col-12">
              <div class="row">
                  <div class="col-lg-12 col-12 p-0 contact-us">
                    <h4 class="">Contáctenos</h4><hr>
                  </div>
              </div>
              <div class="row bg-light pt-3 pb-3 mb-4">
                  <div class="col-12">
                    <h6>Dirección :</h6>
                  </div>
                  <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                   <h6>Plaza de la Tecnologia</h6>  
AV. Independencia oriente #103 y 105. 
Plaza de la Tecnologia Toluca, segundo piso, 
zona de juegos, BODEGA #5 y #9
Toluca, Mexico 50040                         
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <h6 >Multiplaza Santin</h6>
                      Carretera Toluca-Naucalpan 1101,
                      Multiplaza Santin, San Mateo Otzacatipan,
                      Toluca, Mexico 50220                       
                                        </div>
                  <div class="col-lg-4 col-12 col-sm-12 col-xs-12">
                      <br />
                      <div class="row">
                            
                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class="m-0 text-danger"><i class="fa fa-phone-square" aria-hidden="true"></i>
                      
                                    044 722 245 3559
                                </span>
                          </div>

                          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <span class="m-0 text-info"><i class="fa fa-envelope" aria-hidden="true"></i>
                                    animelandshop@gmail.com
                                </span>
                            </div>
                      </div>
               
                 
                  </div>
                
              </div>
              <div class="row bg-light pt-3 pb-3 mb-4">
                  <div class=" col-12">
                        



<!-- We're going to place the form here in the next step -->
<form id="contact-form" method="post" action="contact.php" role="form">

    <div class="messages"></div>

    <div class="controls">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_name">Nombre *</label>
                    <input id="form_name" type="text" name="name" class="form-control"  required="required" data-error="Firstname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_lastname">Apellido *</label>
                    <input id="form_lastname" type="text" name="surname" class="form-control"  required="required" data-error="Lastname is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_email">Correo Electronico *</label>
                    <input id="form_email" type="email" name="email" class="form-control"  required="required" data-error="Valid email is required.">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="form_phone">Telefono</label>
                    <input id="form_phone" type="tel" name="phone" class="form-control">
                    <div class="help-block with-errors"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="form_message">Mensaje *</label>
                    <textarea id="form_message" name="message" class="form-control"  rows="4" required="required" data-error="Please,leave us a message."></textarea>
                    <div class="help-block with-errors"></div>
                </div>
            </div>
            <div class="col-md-12">
                <input type="submit" class="btn btn-info btn-send" value="Enviar Mensaje">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-muted"><strong>*</strong> Estos campos son requeridos.</p>
            </div>
        </div>
    </div>

</form>







             
                  </div>
              
              </div>


              <!-- dsssssssssssssssssss -->

              <div class="row bg-light pt-3 pb-3 mb-4">
                 

                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div style="width: 100%">
                          <iframe height="300px"  width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.7769807030404!2d-99.65391700828646!3d19.292062337701626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85cd89ea53ee4bff%3A0x224178e339b41dc3!2sPlaza+de+la+Tecnologia!5e0!3m2!1sen!2smx!4v1525397235218"  
                          
                          frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>
                        </div>
                        </div>

                      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                          <div style="width: 100%">

                              <iframe height="300px"  width="100%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.413689747955!2d-99.59418358471694!3d19.35123204829116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d275a7d903b17d%3A0xe1c4b83e772886da!2sMulti+square+Sant%C3%ADn!5e0!3m2!1sen!2smx!4v1525397471990" 
                              frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen></iframe>

                          </div>
                         
                      </div>
             
              </div>
          </div>
</div>      </div>


