<div class="example-container mat-elevation-z8">
  <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar" [(ngModel)]="filterTXb" [value]="filterTXb"
        name="filterTXb">
    </mat-form-field>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort [trackBy]="trackById" class="animate">


    <!--product Name  -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="text-primary font-weight-bold">Nombre: </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>



    <!-- product price -->
    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="text-primary font-weight-bold">Precio: </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price | currency:'MXN'}} </mat-cell>
    </ng-container>




    <!-- product quantity -->
    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="text-primary font-weight-bold">Cantidad vendidad: </span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element" class="align-middle">
        <br/>
        <form #form="ngForm" (ngSubmit)="addVenta(element,form)" class="form-horizontal align-middle">

          <div class="row form-controls">

            <div class="form-group col">
              <input type="number" class="form-control" [(ngModel)]="mainProductQuantity" name="productQuantity" #productQuantity="ngModel"
                required />
          
            </div>

            <div class="form-group col-5">
              <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Vendido</button>

            </div>

          </div>
        </form>

      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="animate"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[1]"></mat-paginator>
</div>